__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
/data/*.jsonl
/data/*.json
/data/*.gz
/data/*.csv
/data/*.tsv
*.log
*.tmp
*.bak
.ipynb_checkpoints
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.pt
*.pth
*.ckpt
*.env
config.ini
output/
artifacts/
results/
tokenized_dataset/
catboost_info/
src/test.py